.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}

.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/foto-portada.jpg') no-repeat;
	background-position: -0px 0px;
}

.letras {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/letras.jpg') no-repeat;
	background-position: -0px 0px;
}
.pascal {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/pascal.jpg') no-repeat;
	background-position: -0px 0px;
}

.title h1 {
	color: #ffcd1c;
	font-family: "petrobras_sanslight";
	font-size: 5.6em;
	left: 4%;
	position: absolute;
	text-shadow: 0 1px 0 #000;

	top: 30%;
	width: 90%;
}

.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	background-color: #bfc0c2;
	color: black;
	font-family: "petrobras_sansitalic";
	font-size: 1.15em;
	margin-top: 4px;
	padding: 1px 20px 1px 50px;
	text-shadow: none;
	width: auto;
}
h3 {
	color: #ffcd1c;
	font-family: "petrobras_sansbold";
	font-size: 2.5em;
	text-align: left;
}





/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}


/* |********|
   |Pictures|
   |********| */

.first-picture{
	position: absolute;
	right: 0;
	top: 3980px;
}

/* |********|
   | Plecas |
   |********| */

.first-pleca{
	position: absolute;
	right: 0;
	top: 1950px;
}
.second-pleca{
	position: absolute;
	left: 0;
	top: 2950px;
}
.second-picture {
	position: absolute;
	top: 0;
	right: 0;
}


/* |********|
   |Captions|
   |********| */

.foto1-Caption{
	left: 30px;
	position: absolute;
	top: -150px;
	width:300px;
}




/********
TxtCols
*********/
.first-Txt{
	position: absolute;
	top: 1370px;
	width: 980px;
}

.first2-Txt{
	position: absolute;
	top: 2730px;
	width: 980px;
}
.second-Txt{
	position: absolute;
	top: 4040px;
}
.third-Txt{
	position: absolute;
	top: 5490px;
}
.fourth-Txt{
	position: absolute;
	top: 6180px;
	width: 960px;
}



.toTop{
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: 6760px;
}
.footer{
	left: 0;
	position: absolute;
	top: 4710px;
}