.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}

.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/fondo-portada.jpg') no-repeat;
	background-position: -0px 0px;
}
.title h1 {
	color:rgba(64,53,48,1);
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 5.6em;
	top: 29%;
	left:10%; 
	width: 90%;
	text-shadow: 0px 1px 0px #000;
	text-transform: uppercase;
}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1.15em;
	color: black;
	padding: 1px 20px 1px 50px;
	background-color: #FFCE38;
	margin-top: 4px;
	width: auto;
}
h3 {
	font-family: 'petrobras_sansbold';
	color: #00814A;
	font-size: 2.5em;
	text-align: left;
}





/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}


/* |********|
   |Pictures|
   |********| */

.first-picture{
	position: absolute;
	right: 0;
	top: 1750px;
}
.second-picture{
	position: absolute;
	right: 0;
	top: 3250px;
}
.third-picture{
	position: absolute;
	left: 0;
	top: 4950px;
}
.fourth-picture{
	position: absolute;
	right: 0;
	top: 4200px;
}
.fifth-picture{
	position: absolute;
	right: 0;
	top: 6700px;
}
.sixth-picture{
	position: absolute;
	left: 0;
	top: 7500px;
}
.seventh-picture{
	position: absolute;
	right: 0;
	top: 10200px;
}

/* |******|
   |Videos|
   |******| */

.video-1{
	visibility: hidden;
	position: absolute;
	top: 1000px;
}
.video-2{
	position: absolute;
	top: 14200px;
	left: 100px;
}


/* |********|
   | Plecas |
   |********| */

.first-pleca{
	position: absolute;
	left: 0;
	top: 8250px;
}
.second-pleca{
	position: absolute;
	left: 0;
	top: 10800px;
}


/* |********|
   |Captions|
   |********| */

.foto1-Caption{
	position: absolute;
	top: 2450px;
	left: 0px;
}
.foto5-Caption{
	position: absolute;
	top: 8050px;
	left: 0px;
}
.foto6-Caption{
	position: absolute;
	top: 8900px;
	right: 10%;
}
.foto7-Caption{
	visibility: hidden;
	position: absolute;
	top: 8500px;
	left: 0px;
}

/* |************|
   |Infographics|
   |************| */

.infographic-1{
	position: absolute;
	top: 4350px;
	left: 0px;
}
.infographic-2{
	position: absolute;
	top: 8100px;
	left: 0px;
}


/********
TxtCols
*********/
.first-Txt{
	position: absolute;
	top: 1100px;
}
.second-Txt{
	position: absolute;
	top: 1750px;
}
.third-Txt{
	position: absolute;
	top: 3200px;
}
.fourth-Txt{
	position: absolute;
	top: 3950px;
}
.fifth-Txt{
	position: absolute;
	top: 9400px;
}
.sixth-Txt{
	position: absolute;
	top: 12850px;
}




.toTop{
	position: absolute;
	top:14700px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 9650px;
	left: 0px;
}