.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}

.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/fondo-portada.jpg') no-repeat;
	background-position: -0px 0px;
}
.title h1 {
	color:#005b94;
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 5em;
	top: 29%;
	left:10%; 
	width: 90%;
	text-shadow: 0px 1px 0px #000;

}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1.15em;
	color: black;
	padding: 1px 20px 1px 50px;
	background-color: #00b3b0;
	margin-top: 4px;
	width: auto;
	float:left;
	clear:both;
}
h3 {
	font-family: 'petrobras_sansbold';
	color: #005b94;
	font-size: 2.5em;
	text-align: left;
}





/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}
.lineasSubHead {
	position: absolute;
	top:700px;
}


/* |********|
   |Pictures|
   |********| */

.first-picture{
	position: absolute;
	right: 0;
	top: 1750px;
}
.second-picture{
	position: absolute;
	right: 0;
	top: 3250px;
}
.third-picture{
	position: absolute;
	left: 0;
	top: 4950px;
}
.fourth-picture{
	position: absolute;
	right: 0;
	top: 4200px;
}
.fifth-picture{
	position: absolute;
	right: 0;
	top: 6900px;
}
.sixth-picture{
	position: absolute;
	left: 0;
	top: 8000px;
}
.seventh-picture{
	position: absolute;
	right: 0;
	top: 10700px;
}

/* |******|
   |Videos|
   |******| */

.video-1{
	position: absolute;
	top: 15000px;
	left: 100px;
}
.video-2{
	position: absolute;
	top: 15350px;
	left: 100px;
}


/* |********|
   | Plecas |
   |********| */

.first-pleca{
	position: absolute;
	left: 0;
	top: 8600px;
}
.second-pleca{
	position: absolute;
	left: 0;
	top: 11400px;
}


/* |********|
   |Captions|
   |********| */

.foto1-Caption{
	position: absolute;
	top: 2700px;
	left: 0px;
	width: 40%;
}
.foto5-Caption{
	position: absolute;
	top: 8350px;
	left: 0px;
	width: 40%;
}
.foto6-Caption{
	position: absolute;
	top: 9700px;
	left: 60%;
	width: 30%;
}
.foto7-Caption{
	visibility: hidden;
	position: absolute;
	top: 8500px;
	left: 0px;
}

/* |************|
   |Infographics|
   |************| */

.infografia-1{
	position: absolute;
	top: 7000px;
	left: 0;
}
.info-1-Header{
	position: absolute;
	top: 6700px;
	left: 35px;
}
.info-1-Footer{
	position: absolute;
	top: 7550px;
	left: 35px;
}

.infographic-2{
	position: absolute;
	top: 11500px;
	left: 20px;
}


/********
TxtCols
*********/
.first-Txt{
	position: absolute;
	top: 1100px;
}
.second-Txt{
	position: absolute;
	top: 1750px;
}
.third-Txt{
	position: absolute;
	top: 3200px;
}
.fourth-Txt{
	position: absolute;
	top: 3950px;
}
.fifth-Txt{
	position: absolute;
	top: 9800px;
}
.sixth-Txt{
	position: absolute;
	top: 13450px;
}




.toTop{
	position: absolute;
	top:15900px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 10400px;
	left: 0px;
}