.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 100%;
	background: url('../imgs/foto-portada.jpg') no-repeat;
	background-position: -0px 0px;
	background-size: 100% auto;
}
.title h1 {
	color:#FFF;
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 5em;
	top: 29%;
	left:10%; 
	width: 90%;
	text-shadow: 0px 1px 0px #000;
	text-transform: uppercase;
}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}




/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}





.toTop{
	position: absolute;
	top:1350px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 1270px;
	left: 0px;
}