.accentColorInside{
	background-color: #F8C73F;
	color: #00814C;
}


.title {
	position: relative;
	background-color: transparent;
	height: 1024px;
	width: 768px;
	background: url('../imgs/circulos_home.png') no-repeat;
	background-position: -0px 200px;
}
.title h1 {
	color:#005b94;
	font-family: 'petrobras_sanslight';
	position: absolute;
	font-size: 5.6em;
	top: 10%;
	left:10%; 
	width: 90%;
	text-shadow: 0px 1px 0px #000;

}
.Big {
	font-family: 'petrobras_sansbold';
	letter-spacing: 1px;
	font-size: 1em;
}
.lineasSubHead p{
	font-family: 'petrobras_sansitalic';
	text-shadow:none;
	font-size: 1.15em;
	color: black;
	padding: 1px 20px 1px 50px;
	background-color: #FFCE38;
	margin-top: 4px;
	width: auto;
}
h3 {
	font-family: 'petrobras_sansbold';
	color: #00814A;
	font-size: 2.5em;
	text-align: left;
}

.txtBy{
	color: #005b94;
	text-shadow:none;
	font-size: 1em;
}
.by {
	border-bottom: 3px solid #F4B827;
	height: 30px;
	display: inline-block;
}
.botLine {
	border-bottom: 7px solid #F4B827;
	height: 110px;
	width: 60px;
	display: inline-block;
}


.lineasazules p {
    background-color: #6d92a8;
    color: white;
    font-family: "petrobras_sansitalic";
    font-size: 1.2em;
    margin-top: 4px;
    padding: 1px 20px 1px 50px;
    text-shadow: none;
    width: auto;
}



/* ------------------------------------------- positions*/

.title {
	position: absolute;
	top: 0px;
	left: 0px;
}

.lineasazules {
    left: 0;
    position: absolute;
    top: 800px;
    width: auto;
}
.txtBy{
	position: absolute;
	top: 600px;
	left: 10%;
}
.first-Txt{
	position: absolute;
	top: 1000px;
}
.second-Txt{
	position: absolute;
	top: 1250px;
}

.second-picture{
	position: absolute;
	top: 2300px;
}
.toTop{
	position: absolute;
	top: 4260px;
	left: 50%;
	margin-left: -100px;
}
.footer{
	position: absolute;
	top: 3150px;
	left: 0px;
}